@model TravelGuide.Entiteis.Models.RoomBooking

@{
    ViewData["Title"] = "Delete Room Booking";
    Layout = "_templateLayout";

}
<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Delete Flight</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Delete" enctype="multipart/form-data" id="contactForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" asp-for="BookingId" />
                    <div class="form-group">
                        <label asp-for="Room.RoomNumber" class="control-label"></label>
                        <input class="form-control" asp-for="Room.RoomNumber"  disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Airline'" placeholder='Enter the Airline'>
                        <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Room.RoomType" class="control-label"></label>
                        <input class="form-control" asp-for="Room.RoomType"   disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Arrival Airport'" placeholder='Enter the Arrival Airport'>
                        <span asp-validation-for="Room.RoomType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Hotel" class="control-label"></label>
                        <input class="form-control" asp-for="Hotel.HotelName"  type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Arrival Airport'" placeholder='Enter the Arrival Airport'>
                        <span asp-validation-for="Hotel.HotelName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ChickInDate" class="control-label"></label>
                        <input class="form-control" asp-for="ChickInDate"  disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the DepartureTime'" placeholder='Enter the Departure Time'>
                        <span asp-validation-for="ChickInDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ChickOutDate" class="control-label"></label>
                        <input class="form-control" asp-for="ChickOutDate" name="DepartureTime" id="DepartureTime" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the DepartureTime'" placeholder='Enter the Departure Time'>
                        <span asp-validation-for="ChickOutDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="BookingDate" class="control-label"></label>
                        <input class="form-control" asp-for="BookingDate" name="ArrivalTime" id="ArrivalTime" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Arrival Time'" placeholder='Enter the Arrival Time'>
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    @{
                        if (Model.BookingStatus)
                        {
                            <div class="form-group">
                                <label class="control-label">Booking Status</label>
                                <input class="form-control" value="Booked" name="TotalPrice" id="TotalPrice" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Destination Country'" placeholder='Enter the flight Price'>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label">Booking Status</label>
                                <input class="form-control" value="Not Booked" name="TotalPrice" id="TotalPrice" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Destination Country'" placeholder='Enter the flight Price'>
                            </div>
                        }
                    }
                    
                </div>
            </div>
            <div class="form-group mb-3 text-right flex flex-row">
                <button type="button" class="button button-contactForm btn_1" onclick="window.location='@Url.Action("Index", "RoomBooking")'">Cancel</button>
                <button type="submit" value="Delete" class="button button-contactForm btn_1" style="background-color:#162b45;">Delete</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@* style for the file input *@
<style>
    .custom-file-upload {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        transition: border-color 0.3s;
    }

    .file-upload-label {
        background-color: #fe5c24;
        color: white;
        padding: 10px 12px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 5px;
        transition: background-color 0.3s, border 0.3s;
    }

        .file-upload-label:hover {
            background-color: #e54c1f;
        }

    .file-name {
        flex-grow: 1;
        font-size: 14px;
        color: #555;
    }

    .file-upload {
        display: none;
    }
</style>
