@model TravelGuide.Entiteis.Models.Hotel

@{
    ViewData["Title"] = "DeleteHotel";
    Layout = "_templateLayout";

}
<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Delete Hotel</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Delete" enctype="multipart/form-data" id="contactForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" asp-for="HotelId" />
                    <div class="form-group">
                        <input class="form-control" asp-for="HotelName" name="HotelName" id="HotelName" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the HotelName'" placeholder='Enter the HotelName'>
                        <span asp-validation-for="HotelName" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="PhoneNumber" name="PhoneNumber" id="PhoneNumber" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the PhoneNumber'" placeholder='Enter the PhoneNumber'>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" name="Email" id="Email" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Email'" placeholder='Enter the Email'>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Rating" name="Rating" id="Rating" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Rating'" placeholder='Enter the Rating'>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control" asp-for="LocationId" disabled>
                            <option>
                                @ViewBag.Location
                            </option>
                        </select>
                        <span asp-validation-for="LocationId" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
            <div class="form-group mb-3 text-right flex flex-row">
                <button type="button" class="button button-contactForm btn_1" onclick="window.location='@Url.Action("Index", "Hotels")'">Cancel</button>
                <button type="submit" value="Delete" class="button button-contactForm btn_1" style="background-color:#162b45;">Delete</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
