@model TravelGuide.Entiteis.Models.Flight

@{
    ViewData["Title"] = "NewFlight";
    Layout = "_templateLayout";
}

<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Create Flight</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Create" enctype="multipart/form-data" id="contactForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Airline" name="Airline" id="Airline" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Airline'" placeholder='Enter the Airline'>
                        <span asp-validation-for="Airline" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="ArivalAirport" name="ArivalAirport" id="ArivalAirport" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Arrival Airport'" placeholder='Enter the Arrival Airport'>
                        <span asp-validation-for="ArivalAirport" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="DepartureTime" name="DepartureTime" id="DepartureTime" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the DepartureTime'" placeholder='Enter the Departure Time'>
                        <span asp-validation-for="DepartureTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="ArrivalTime" name="ArrivalTime" id="ArrivalTime" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Arrival Time'" placeholder='Enter the Arrival Time'>
                        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="TotalPrice" name="TotalPrice" id="TotalPrice" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the flight Price'" placeholder='Enter the flight Price'>
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control" asp-for="LocationId" asp-items="ViewBag.Locations">
                            <option value="">Select a location</option>
                        </select>
                        <span asp-validation-for="LocationId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 text-right">
                <button type="button" class="button button-contactForm btn_1" onclick="window.location='@Url.Action("Index", "Flight")'">Cancel</button>
                <button type="submit" value="create" class="button button-contactForm btn_1" style="background-color:#162b45;">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
