@model TravelGuide.Entiteis.Models.PackageBooking

@{
    ViewData["Title"] = "NewPackageBooking";
    Layout = "_templateLayout";

}

<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Create Package Booking</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Create" id="contactForm">
            <input type="hidden" asp-for="PackageId" value="@ViewBag.PackageId" />
            <div class="row">
                <input asp-for="BookingId" class="form-control" hidden />
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="NumberOfGuests" class="control-label"></label>
                        <input asp-for="NumberOfGuests" class="form-control" />
                        <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="BookingDate" class="control-label"></label>
                        <input class="form-control" asp-for="BookingDate" name="BookingDate" id="BookingDate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Booking Date'" placeholder='Enter the Booking Date' />
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>
                </div>
                <input class="form-check-input" asp-for="BookingStatus" hidden />
            </div>
            <div class="form-group mb-3 text-right">
                <button type="button" class="button button-contactForm btn_1" onclick="window.location='@Url.Action("Index", "PackageBooking")'" >Cancel</button>
                <button type="submit" value="create" class="button button-contactForm btn_1" style="background-color:#162b45;">Create</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
